/*color-list*/
/* colors*/
body {
  font-family: 'Montserrat', sans-serif; }

.text-primary {
  color: #2c2d74 !important; }

.text-accent {
  color: #00fcc4 !important; }

.text-secondary {
  color: #354e9d !important; }

.text-info {
  color: #a6dae8 !important; }

.text-success {
  color: #229341 !important; }

.text-danger {
  color: #CC0000 !important; }

.text-warning {
  color: #fdd835 !important; }

.text-light {
  color: #e8eaf6 !important; }

.text-dark {
  color: #212121 !important; }

.bg-primary {
  background-color: #2c2d74 !important; }

.bg-accent {
  background-color: #00fcc4 !important; }

.bg-secondary {
  background-color: #354e9d !important; }

.bg-info {
  background-color: #a6dae8 !important; }

.bg-success {
  background-color: #229341 !important; }

.bg-danger {
  background-color: #CC0000 !important; }

.bg-warning {
  background-color: #fdd835 !important; }

.bg-light {
  background-color: #e8eaf6 !important; }

.bg-dark {
  background-color: #212121 !important; }

/*color basicos*/
.color-primary {
  color: #e8eaf6;
  background: #2c2d74; }

.color-secondary {
  color: #e8eaf6;
  background: #354e9d; }

.color-accent {
  background: #00fcc4; }

.color-info {
  background: #a6dae8; }

.color-success {
  color: #e8eaf6;
  background: #229341; }

.color-dark {
  color: #e8eaf6;
  background: #212121; }

.color-light {
  background: #e8eaf6; }

.color-warning {
  background: #fdd835; }

.color-danger {
  color: #e8eaf6;
  background: #CC0000; }

.alert-primary {
  background-color: #3233a6 !important;
  color: black !important;
  border-color: #e1e1f6 !important; }

.alert-accent {
  background-color: #00ffc7 !important;
  color: black !important;
  border-color: white !important; }

.alert-secondary {
  background-color: #3952c5 !important;
  color: black !important;
  border-color: #fefeff !important; }

.alert-info {
  background-color: #b6eefc !important;
  color: #078bac !important;
  border-color: white !important; }

.alert-success {
  background-color: #22a75f !important;
  color: black !important;
  border-color: #d2f6e3 !important; }

.alert-danger {
  background-color: #e01e2c !important;
  color: black !important;
  border-color: #fffefe !important; }

.alert-warning {
  background-color: #ffe14e !important;
  color: #4e4100 !important;
  border-color: white !important; }

.alert-light {
  background-color: #f1f3ff !important;
  color: #0022f1 !important;
  border-color: white !important; }

.alert-dark {
  background-color: #2a2a2a !important;
  color: black !important;
  border-color: #aaaaaa !important; }

.alert-primary .alert-link {
  background-color: #3233a6 !important;
  color: black !important;
  border-color: #e1e1f6 !important; }

.alert-accent .alert-link {
  background-color: #00ffc7 !important;
  color: black !important;
  border-color: white !important; }

.alert-secondary .alert-link {
  background-color: #3952c5 !important;
  color: black !important;
  border-color: #fefeff !important; }

.alert-info .alert-link {
  background-color: #b6eefc !important;
  color: #078bac !important;
  border-color: white !important; }

.alert-success .alert-link {
  background-color: #22a75f !important;
  color: black !important;
  border-color: #d2f6e3 !important; }

.alert-danger .alert-link {
  background-color: #e01e2c !important;
  color: black !important;
  border-color: #fffefe !important; }

.alert-warning .alert-link {
  background-color: #ffe14e !important;
  color: #4e4100 !important;
  border-color: white !important; }

.alert-light .alert-link {
  background-color: #f1f3ff !important;
  color: #0022f1 !important;
  border-color: white !important; }

.alert-dark .alert-link {
  background-color: #2a2a2a !important;
  color: black !important;
  border-color: #aaaaaa !important; }

/*color-list*/
.badge-primary {
  background-color: #2c2d74; }

.badge-accent {
  background-color: #00fcc4; }

.badge-secondary {
  background-color: #354e9d; }

.badge-info {
  background-color: #a6dae8; }

.badge-success {
  background-color: #229341; }

.badge-danger {
  background-color: #CC0000; }

.badge-warning {
  background-color: #fdd835; }

.badge-light {
  background-color: #e8eaf6; }

.badge-dark {
  background-color: #212121; }

.btn-primary {
  background-color: #2c2d74;
  border-color: #2c2d74; }

.btn-accent {
  background-color: #00fcc4;
  border-color: #00fcc4; }

.btn-secondary {
  background-color: #354e9d;
  border-color: #354e9d; }

.btn-info {
  background-color: #a6dae8;
  border-color: #a6dae8; }

.btn-success {
  background-color: #229341;
  border-color: #229341; }

.btn-danger {
  background-color: #CC0000;
  border-color: #CC0000; }

.btn-warning {
  background-color: #fdd835;
  border-color: #fdd835; }

.btn-light {
  background-color: #e8eaf6;
  border-color: #e8eaf6; }

.btn-dark {
  background-color: #212121;
  border-color: #212121; }

.btn-primary:hover {
  background-color: #1e1f4f !important;
  border-color: #1e1f4f !important; }

.btn-accent:hover {
  background-color: #00c99c !important;
  border-color: #00c99c !important; }

.btn-secondary:hover {
  background-color: #283b77 !important;
  border-color: #283b77 !important; }

.btn-info:hover {
  background-color: #7dc9de !important;
  border-color: #7dc9de !important; }

.btn-success:hover {
  background-color: #186a2f !important;
  border-color: #186a2f !important; }

.btn-danger:hover {
  background-color: #990000 !important;
  border-color: #990000 !important; }

.btn-warning:hover {
  background-color: #fdce03 !important;
  border-color: #fdce03 !important; }

.btn-light:hover {
  background-color: #c3c9e8 !important;
  border-color: #c3c9e8 !important; }

.btn-dark:hover {
  background-color: #080808 !important;
  border-color: #080808 !important; }

.btn-outline-primary {
  color: #2c2d74;
  border-color: #2c2d74; }

.btn-outline-accent {
  color: #00fcc4;
  border-color: #00fcc4; }

.btn-outline-secondary {
  color: #354e9d;
  border-color: #354e9d; }

.btn-outline-info {
  color: #a6dae8;
  border-color: #a6dae8; }

.btn-outline-success {
  color: #229341;
  border-color: #229341; }

.btn-outline-danger {
  color: #CC0000;
  border-color: #CC0000; }

.btn-outline-warning {
  color: #fdd835;
  border-color: #fdd835; }

.btn-outline-light {
  color: #e8eaf6;
  border-color: #e8eaf6; }

.btn-outline-dark {
  color: #212121;
  border-color: #212121; }

.btn-outline-primary:hover {
  background-color: #2c2d74 !important;
  color: #babbe5 !important;
  border-color: #2c2d74 !important; }

.btn-outline-accent:hover {
  background-color: #00fcc4 !important;
  color: #fcfffe !important;
  border-color: #00fcc4 !important; }

.btn-outline-secondary:hover {
  background-color: #354e9d !important;
  color: #dde3f4 !important;
  border-color: #354e9d !important; }

.btn-outline-info:hover {
  background-color: #a6dae8 !important;
  color: white !important;
  border-color: #a6dae8 !important; }

.btn-outline-success:hover {
  background-color: #229341 !important;
  color: #c3f1d0 !important;
  border-color: #229341 !important; }

.btn-outline-danger:hover {
  background-color: #CC0000 !important;
  color: #ffcccc !important;
  border-color: #CC0000 !important; }

.btn-outline-warning:hover {
  background-color: #fdd835 !important;
  color: white !important;
  border-color: #fdd835 !important; }

.btn-outline-light:hover {
  background-color: #e8eaf6 !important;
  color: white !important;
  border-color: #e8eaf6 !important; }

.btn-outline-dark:hover {
  background-color: #212121 !important;
  color: #a1a1a1 !important;
  border-color: #212121 !important; }

.btn-primary:not(:disabled):not(disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #2c2d74 !important;
  color: #babbe5 !important;
  border-color: #2c2d74 !important; }

.btn-accent:not(:disabled):not(disabled):active, .btn-accent:not(:disabled):not(.disabled).active, .show > .btn-accent.dropdown-toggle {
  background-color: #00fcc4 !important;
  color: #fcfffe !important;
  border-color: #00fcc4 !important; }

.btn-secondary:not(:disabled):not(disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: #354e9d !important;
  color: #dde3f4 !important;
  border-color: #354e9d !important; }

.btn-info:not(:disabled):not(disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: #a6dae8 !important;
  color: white !important;
  border-color: #a6dae8 !important; }

.btn-success:not(:disabled):not(disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  background-color: #229341 !important;
  color: #c3f1d0 !important;
  border-color: #229341 !important; }

.btn-danger:not(:disabled):not(disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  background-color: #CC0000 !important;
  color: #ffcccc !important;
  border-color: #CC0000 !important; }

.btn-warning:not(:disabled):not(disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  background-color: #fdd835 !important;
  color: white !important;
  border-color: #fdd835 !important; }

.btn-light:not(:disabled):not(disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  background-color: #e8eaf6 !important;
  color: white !important;
  border-color: #e8eaf6 !important; }

.btn-dark:not(:disabled):not(disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  background-color: #212121 !important;
  color: #a1a1a1 !important;
  border-color: #212121 !important; }

.btn-primary:disabled {
  background-color: #26277f !important;
  border-color: #26277f !important; }

.btn-accent:disabled {
  background-color: #00cc9f !important;
  border-color: #00cc9f !important; }

.btn-secondary:disabled {
  background-color: #2e429d !important;
  border-color: #2e429d !important; }

.btn-info:disabled {
  background-color: #85e3fa !important;
  border-color: #85e3fa !important; }

.btn-success:disabled {
  background-color: #197d47 !important;
  border-color: #197d47 !important; }

.btn-danger:disabled {
  background-color: #b31823 !important;
  border-color: #b31823 !important; }

.btn-warning:disabled {
  background-color: #ffd81b !important;
  border-color: #ffd81b !important; }

.btn-light:disabled {
  background-color: #bec7ff !important;
  border-color: #bec7ff !important; }

.btn-dark:disabled {
  background-color: #111111 !important;
  border-color: #111111 !important; }

.btn-primary {
  background: #2c2d74; }

#card-2 {
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2); }

#card-3 {
  border: none;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=stylesheet.css.map */
