/* colors*/
/*color-list*/
.text-primary {
  color: #2c2d74 !important; }

.text-accent {
  color: #00fcc4 !important; }

.text-secondary {
  color: #354e9d !important; }

.text-info {
  color: #a6dae8 !important; }

.text-success {
  color: #229341 !important; }

.text-danger {
  color: #c54413 !important; }

.text-warning {
  color: #e9a210 !important; }

.text-light {
  color: #e8eaf6 !important; }

.text-dark {
  color: #212121 !important; }

.bg-primary {
  background-color: #2c2d74 !important; }

.bg-accent {
  background-color: #00fcc4 !important; }

.bg-secondary {
  background-color: #354e9d !important; }

.bg-info {
  background-color: #a6dae8 !important; }

.bg-success {
  background-color: #229341 !important; }

.bg-danger {
  background-color: #c54413 !important; }

.bg-warning {
  background-color: #e9a210 !important; }

.bg-light {
  background-color: #e8eaf6 !important; }

.bg-dark {
  background-color: #212121 !important; }

/* fuente */
body {
  font-family: 'Montserrat', sans-serif; }

.alert-primary {
  background-color: #9596d7 !important;
  color: #020205 !important;
  border-color: #3a3b99 !important; }

.alert-accent {
  background-color: #c9fff3 !important;
  color: #00634d !important;
  border-color: #30ffd1 !important; }

.alert-secondary {
  background-color: #b7c3e7 !important;
  color: #0e152b !important;
  border-color: #4562c0 !important; }

.alert-info {
  background-color: white !important;
  color: #32a4c3 !important;
  border-color: #cfebf2 !important; }

.alert-success {
  background-color: #99e8af !important;
  color: #05170a !important;
  border-color: #2cbc53 !important; }

.alert-danger {
  background-color: #f7c1ad !important;
  color: #391406 !important;
  border-color: #ea5921 !important; }

.alert-warning {
  background-color: #fbebca !important;
  color: #5a3e06 !important;
  border-color: #f2b63a !important; }

.alert-light {
  background-color: white !important;
  color: #7a86cb !important;
  border-color: white !important; }

.alert-dark {
  background-color: #878787 !important;
  color: black !important;
  border-color: #3b3b3b !important; }

.alert-primary .alert-link {
  background-color: #7071c9 !important;
  color: #020205 !important;
  border-color: #3a3b99 !important; }

.alert-accent .alert-link {
  background-color: #96ffe8 !important;
  color: #00634d !important;
  border-color: #30ffd1 !important; }

.alert-secondary .alert-link {
  background-color: #91a3da !important;
  color: #0e152b !important;
  border-color: #4562c0 !important; }

.alert-info .alert-link {
  background-color: white !important;
  color: #32a4c3 !important;
  border-color: #cfebf2 !important; }

.alert-success .alert-link {
  background-color: #70de8e !important;
  color: #05170a !important;
  border-color: #2cbc53 !important; }

.alert-danger .alert-link {
  background-color: #f39e7e !important;
  color: #391406 !important;
  border-color: #ea5921 !important; }

.alert-warning .alert-link {
  background-color: #f8d99a !important;
  color: #5a3e06 !important;
  border-color: #f2b63a !important; }

.alert-light .alert-link {
  background-color: white !important;
  color: #7a86cb !important;
  border-color: white !important; }

.alert-dark .alert-link {
  background-color: #6e6e6e !important;
  color: black !important;
  border-color: #3b3b3b !important; }

.badge-primary {
  background-color: #2c2d74; }

.badge-accent {
  background-color: #00fcc4; }

.badge-secondary {
  background-color: #354e9d; }

.badge-info {
  background-color: #a6dae8; }

.badge-success {
  background-color: #229341; }

.badge-danger {
  background-color: #c54413; }

.badge-warning {
  background-color: #e9a210; }

.badge-light {
  background-color: #e8eaf6; }

.badge-dark {
  background-color: #212121; }

.btn-primary {
  background-color: #2c2d74;
  border-color: #2c2d74;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-accent {
  background-color: #00fcc4;
  border-color: #00fcc4;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-secondary {
  background-color: #354e9d;
  border-color: #354e9d;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-info {
  background-color: #a6dae8;
  border-color: #a6dae8;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-success {
  background-color: #229341;
  border-color: #229341;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-danger {
  background-color: #c54413;
  border-color: #c54413;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-warning {
  background-color: #e9a210;
  border-color: #e9a210;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-light {
  background-color: #e8eaf6;
  border-color: #e8eaf6;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-dark {
  background-color: #212121;
  border-color: #212121;
  font-weight: bold;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px; }

.btn-primary:hover {
  background-color: #1e1f4f !important;
  border-color: #1e1f4f !important; }

.btn-accent:hover {
  background-color: #00c99c !important;
  border-color: #00c99c !important; }

.btn-secondary:hover {
  background-color: #283b77 !important;
  border-color: #283b77 !important; }

.btn-info:hover {
  background-color: #7dc9de !important;
  border-color: #7dc9de !important; }

.btn-success:hover {
  background-color: #186a2f !important;
  border-color: #186a2f !important; }

.btn-danger:hover {
  background-color: #96340f !important;
  border-color: #96340f !important; }

.btn-warning:hover {
  background-color: #b9810d !important;
  border-color: #b9810d !important; }

.btn-light:hover {
  background-color: #c3c9e8 !important;
  border-color: #c3c9e8 !important; }

.btn-dark:hover {
  background-color: #080808 !important;
  border-color: #080808 !important; }

.btn-outline-primary {
  color: #2c2d74;
  border-color: #2c2d74; }

.btn-outline-accent {
  color: #00fcc4;
  border-color: #00fcc4; }

.btn-outline-secondary {
  color: #354e9d;
  border-color: #354e9d; }

.btn-outline-info {
  color: #a6dae8;
  border-color: #a6dae8; }

.btn-outline-success {
  color: #229341;
  border-color: #229341; }

.btn-outline-danger {
  color: #c54413;
  border-color: #c54413; }

.btn-outline-warning {
  color: #e9a210;
  border-color: #e9a210; }

.btn-outline-light {
  color: #e8eaf6;
  border-color: #e8eaf6; }

.btn-outline-dark {
  color: #212121;
  border-color: #212121; }

.btn-outline-primary:hover {
  background-color: #2c2d74 !important;
  color: #babbe5 !important;
  border-color: #2c2d74 !important; }

.btn-outline-accent:hover {
  background-color: #00fcc4 !important;
  color: #fcfffe !important;
  border-color: #00fcc4 !important; }

.btn-outline-secondary:hover {
  background-color: #354e9d !important;
  color: #dde3f4 !important;
  border-color: #354e9d !important; }

.btn-outline-info:hover {
  background-color: #a6dae8 !important;
  color: white !important;
  border-color: #a6dae8 !important; }

.btn-outline-success:hover {
  background-color: #229341 !important;
  color: #c3f1d0 !important;
  border-color: #229341 !important; }

.btn-outline-danger:hover {
  background-color: #c54413 !important;
  color: #fce4db !important;
  border-color: #c54413 !important; }

.btn-outline-warning:hover {
  background-color: #e9a210 !important;
  color: #fffdf9 !important;
  border-color: #e9a210 !important; }

.btn-outline-light:hover {
  background-color: #e8eaf6 !important;
  color: white !important;
  border-color: #e8eaf6 !important; }

.btn-outline-dark:hover {
  background-color: #212121 !important;
  color: #a1a1a1 !important;
  border-color: #212121 !important; }

.btn-primary:not(:disabled):not(disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #2c2d74 !important;
  color: #babbe5 !important;
  border-color: #2c2d74 !important; }

.btn-accent:not(:disabled):not(disabled):active, .btn-accent:not(:disabled):not(.disabled).active, .show > .btn-accent.dropdown-toggle {
  background-color: #00fcc4 !important;
  color: #fcfffe !important;
  border-color: #00fcc4 !important; }

.btn-secondary:not(:disabled):not(disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: #354e9d !important;
  color: #dde3f4 !important;
  border-color: #354e9d !important; }

.btn-info:not(:disabled):not(disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: #a6dae8 !important;
  color: white !important;
  border-color: #a6dae8 !important; }

.btn-success:not(:disabled):not(disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  background-color: #229341 !important;
  color: #c3f1d0 !important;
  border-color: #229341 !important; }

.btn-danger:not(:disabled):not(disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  background-color: #c54413 !important;
  color: #fce4db !important;
  border-color: #c54413 !important; }

.btn-warning:not(:disabled):not(disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  background-color: #e9a210 !important;
  color: #fffdf9 !important;
  border-color: #e9a210 !important; }

.btn-light:not(:disabled):not(disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  background-color: #e8eaf6 !important;
  color: white !important;
  border-color: #e8eaf6 !important; }

.btn-dark:not(:disabled):not(disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  background-color: #212121 !important;
  color: #a1a1a1 !important;
  border-color: #212121 !important; }

.btn-primary:disabled {
  background-color: #1e1f4f !important;
  border-color: #1e1f4f !important; }

.btn-accent:disabled {
  background-color: #00c99c !important;
  border-color: #00c99c !important; }

.btn-secondary:disabled {
  background-color: #283b77 !important;
  border-color: #283b77 !important; }

.btn-info:disabled {
  background-color: #7dc9de !important;
  border-color: #7dc9de !important; }

.btn-success:disabled {
  background-color: #186a2f !important;
  border-color: #186a2f !important; }

.btn-danger:disabled {
  background-color: #96340f !important;
  border-color: #96340f !important; }

.btn-warning:disabled {
  background-color: #b9810d !important;
  border-color: #b9810d !important; }

.btn-light:disabled {
  background-color: #c3c9e8 !important;
  border-color: #c3c9e8 !important; }

.btn-dark:disabled {
  background-color: #080808 !important;
  border-color: #080808 !important; }

.btn--shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }

.btn:hover .move-1 bounce {
  animation: bounce;
  transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
  transition: all 100ms ease-in; }

.card-2 {
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }

.card-3 {
  border: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1); }

.card-text {
  font-size: 0.8em; }

.card-link {
  text-decoration: underline; }

.shadow-1 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }

.shadow-2 {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1); }

.shadow-3 {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1); }

.nav-link {
  color: white !important;
  font-size: 0.8rem !important; }

.nav-link:not(:disabled):not(.disabled):active, .nav-link:not(:disabled):not(.disabled).active,
.show > .nav-link.dropdown-toggle {
  color: #00fcc4 !important; }

/*# sourceMappingURL=stylesheet.css.map */
