$color-alert: (
        "primary": #3233a6,
        "accent": #00ffc7,
        "secondary":#3952c5,
        "info":#b6eefc,
        "success":#22a75f,
        "danger":#e01e2c,
        "warning":#ffe14e,
        "light":#f1f3ff,
        "dark":#2a2a2a,
);

// Clase de alertas
@each $color-name,$color in $color-alert {
  .alert-#{$color-name} {
    background-color: $color !important;
    color: darken($color,50%)  !important;
    border-color: lighten($color,50%) !important;}
}
