// Clase de botones 1

@each $color-name,$color in $color-list {
  .btn-#{$color-name} {
    background-color: $color;
    border-color: $color;
    font-weight: bold;
    font-size: small;
    padding-left:  15px;
    padding-right:  15px;
  }
}

// Clase de botones 1 hover

@each $color-name,$color in $color-list {
  .btn-#{$color-name}:hover {
    background-color: darken($color,10%) !important;
    border-color: darken($color,10%) !important;
  }
}

  // Clase de botones outline

  @each $color-name,$color in $color-list {
    .btn-outline-#{$color-name} {
      color: $color;
      border-color: $color;
    }
  }

// Clase de botones outline hover

@each $color-name,$color in $color-list {
  .btn-outline-#{$color-name}:hover {
    background-color: $color !important;
    color: lighten($color,50%) !important;
    border-color: $color !important;
  }
}
// Clase de boton activo

@each $color-name,$color in $color-list {
  .btn-#{$color-name}:not(:disabled):not(disabled):active, .btn-#{$color-name}:not(:disabled):not(.disabled).active,.show > .btn-#{$color-name}.dropdown-toggle{
    background-color: $color !important;
    color: lighten($color,50%) !important;
    border-color: $color !important;
  }
}

// Clase de botones disabled

@each $color-name,$color in $color-list {
  .btn-#{$color-name}:disabled {
    background-color: darken($color,10%) !important;
    border-color: darken($color,10%) !important;
  }
}

