


.btn-secondary{
  background: $color-secondary;
}
.btn-accent {
  background: $color-accent;
  color: $color-dark;
}

.btn-accent:hover {
  background: darken($color-accent, 5%) !important;
  color: $color-light;
}
.btn-secondary:hover {
  background: darken($color-secondary,5%)!important;
}
.btn-primary:hover {
  background: darken($color-primary, 10%) !important;
}




