
#card-2{
  border-radius: 20px;
  box-shadow: 3px 3px  rgba(0,0,0,0.2);
}
#card-3{
  border:none;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

.card-text{
  font-size: 0.8em;
}

.card-link{
  text-decoration: underline;
}
.shadow-1{
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.shadow-2{
  box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.shadow-3{
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}