
.card-2{
  border-radius: 20px;
  box-shadow: $shadow-1;
}
.card-3{
  border:none;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
}

.card-text{
  font-size: 0.8em;
}

.card-link{
  text-decoration: underline;
}
//shadow
.shadow-1{
  box-shadow: $shadow-1;
}

.shadow-2{
  box-shadow: 3px 3px rgba(0,0,0,0.1);
}

.shadow-3{
  box-shadow: 5px 5px rgba(0,0,0,0.1);
}