
.form-control{
  background-color:lighten($color-primary,60%);
  &:hover{
  }
  &:focus{
    border: 2px solid $color-accent;
  }
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
