.nav-link{
   color: white !important;
   font-size: 0.8rem !important;
 }

.nav-link:not(:disabled):not(.disabled):active, .nav-link:not(:disabled):not(.disabled).active,
.show > .nav-link.dropdown-toggle {
  color: $color-accent !important;
}
.logo-nav-overlay{
  position: absolute;
  top: 2px;
  right: 0px;
  bottom: 0px;
  left: -1px;
  padding: 1.25rem;
  width: 172px;
}