/* Color Theme Swatches in Hex */
$color-primary: #072359;
$color-secondary: #0869A5;
$color-info: #0287A5;
$color-accent: #00DDA5;
$color-success: #00DDA5;
$color-light: #FFFFFF;
$color-dark: #000000;



body {
  font-family: 'Montserrat', sans-serif;
}
.color-primary{
  color: $color-light;
   background: $color-primary;
 }
.color-secondary{
  color: $color-light;
  background: $color-secondary;
}
.color-accent{
  color: $color-light;
  background: $color-accent;
}
.color-info{
  background: $color-info;
}
.color-success{
  color: $color-light;
  background: $color-success;
}
.color-dark{
  color: $color-light;
  background: $color-dark;
}
.color-light{
  background: $color-light;
}